/* BACKGROUND */
.auth-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, #eef1ff, #f9faff);
}

/* CARD */
.auth-card {
  width: 900px;
  height: 460px;
  background: #fff;
  border-radius: 24px;
  display: flex;
  box-shadow: 0 30px 70px rgba(123, 47, 247, 0.25);
  overflow: hidden;
}

/* FORM */
.auth-form {
  width: 50%;
  padding: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth-form h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 6px;
}

.subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 22px;
}

/* INPUTS */
.auth-form input {
  width: 100%;
  padding: 14px 16px;
  margin-bottom: 14px;
  border-radius: 12px;
  border: 1px solid #ddd;
  font-size: 15px;
}

.auth-form input:focus {
  outline: none;
  border-color: #7b2ff7;
  box-shadow: 0 0 0 3px rgba(123, 47, 247, 0.15);
}

/* BUTTON */
.auth-form button {
  margin-top: 10px;
  padding: 14px;
  border: none;
  border-radius: 14px;
  background: linear-gradient(90deg, #7b2ff7, #b867ff);
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.auth-form button:hover {
  box-shadow: 0 12px 25px rgba(123, 47, 247, 0.35);
}

/* SWITCH */
.switch {
  margin-top: 18px;
  font-size: 14px;
}

.switch a {
  color: #7b2ff7;
  font-weight: 600;
  text-decoration: none;
}

/* IMAGE */
.auth-image {
  width: 50%;
  background-size: cover;
  background-position: center;
}

.register-image {
  background-image: url("https://cdn.dribbble.com/userupload/45137401/file/289be55c4a010cb83ebaa0b4edb64528.jpg?resize=400x0"); /* replace */
}
